<h1>Editing mini post</h1>

<%= render "form", mini_post: @mini_post %>

<br>

<div>
  <%= link_to "Show this mini post", @mini_post %> |
  <%= link_to "Back to mini posts", mini_posts_path %>
</div>
